* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: normal;
    
}
body {
    background-color: #000000;
    color: #fff;

}
/*Top Navigation Bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #0f0f0f;
    text-align: center;
    padding: 5px ;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: normal;
    font-size: 15px;
}
.logo{
    display: flex;
    margin-right: 10vw;
    color: #000000;
}
 
.nav-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-right: 50px;
}
.nav-right {
    display: flex;
    gap: 10px;
}
nav .sign {
    border-radius: 15px;
    width: 7vw;
    background-color: #0f0f0f;
    border: 1px solid #444444;
    color: #fff;
}
nav .download {
    width: 100px;
    height: 5vh;
    border-radius: 20px;
    margin-right: 15px;
}
nav .download:hover{
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}
/* Hero Section*/
.content{
    display: flex;
    margin-top: 100px;
    padding: 20px;
    line-height: 1.3;
    font-size: 25px;
    margin-left: 40px;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: normal;
    
}
.download-mac {
    display: flex;
    width: 18vw;
    height: 6vh;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 60px;
    border: 1px solid #0f0f0f;
}
.download-mac:hover{
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}
.image-1 {
    /*width: 700px;*/
    margin-top: 30px;
    /*height: 600px;*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


/* Trusted By / Logos*/
.text-block {
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
    line-height: 1.5;
}
.trusted-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 20px 0px;
    background-color: #000000;
    text-align: center;
    align-items: center;
    margin-top: 0px;
}
.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 80px;
    border: 1px solid #0f0f0f;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #0f0f0f;
}

/* Feature Sections (3 blocks)*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 80%;
    gap: 40px;
    border: #0f0f0f solid 1px;
    background-color: #141414;
    padding: 20px;
    border-radius: 10px;
}
.main-right img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.main-left {
    margin: 10px auto;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: #bdbdbd;
}
.change-color {
    color: #f8f8f8;
    font-weight: bold;
}
.learn-about {
    margin-top: 20px;
    width: 300px;
    height: 2vh;
    background-color: #141414;
    color: #ff0000;
    border: none;
    margin-right: 80px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.learn-about:hover {
    color: #da0101;
    cursor: pointer;
}




/* Feature Sections (3 blocks)*/
.feature-block img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.feature-block-contanier {
    margin: 10px auto;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: #bdbdbd;
}
.change-color-h3 {
    color: #f8f8f8;
    font-weight: bold;
}
.learn-about-tab {
    margin-top: 20px;
    width: 300px;
    height: 2vh;
    background-color: #141414;
    color: #ff0000;
    border: none;
    margin-right: 80px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.learn-about-tab:hover {
    color: #da0101;
    cursor: pointer;
}


.feature-block-1 img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.feature-block-container-1 {
    margin: 10px auto;
    padding: 10px;
    font-family: "Carrois Gothic", sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: #bdbdbd;
}
.change-color-h3 {
    color: #f8f8f8;
    font-weight: bold;
}
.learn-about-cursor {
    margin-top: 20px;
    width: 300px;
    height: 2vh;
    background-color: #141414;
    color: #ff0000;
    border: none;
    margin-right: 80px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.learn-about-cursor:hover {
    color: #da0101;
    cursor: pointer;
}

/*Feature Cards Section*/

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    font-family: "Carrois Gothic", sans-serif;
    height: 650px;

}
.testimonial-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin: 50px 10px;
    padding: auto;
    font-family: "Carrois Gothic", sans-serif;
}

.card {
    background-color: #0f0f0f;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

}

.card p {
    font-size: 16px;
    line-height: 1.5;
    color: #dadada;
    font-family: "Carrois Gothic", sans-serif;
}

.person-image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    padding: 0px;
    max-width: 100px;
    vertical-align: middle;
    border-radius: 10%;
}
.person-info {
    display: flex;
    margin-top: 100px;
    padding: 0px 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.person-info-h4 {
    flex: 1rem;
    font-size: 15px;
    color: #ffffff;
    font-family: "Carrois Gothic", sans-serif;
    line-height: 20px;
}
.person-info-h4 .type {
    font-size: 14px;
    color: #d1d1d1;
}


/* Use Cases / Stories*/

.use-case-heading {
    margin-left: 100px;
    font-size: 12px;
    margin-top: 200px;
    font-family: "Carrois Gothic", sans-serif;
    margin-bottom: none;
    color: rgb(216, 216, 216);
}
.case {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    font-family: "Carrois Gothic", sans-serif;
    height: 650px;
    line-height: 1.2;
}
.stories {
    background-color: #141414;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}
.stories h4 {
    font-size: 15px;
    color: #eeeeee;
    font-family: "Carrois Gothic", sans-serif;
    line-height: 20px;

}
.stories p {
    font-size: 12px;
    color: #d1d1d1;
    font-family: "Carrois Gothic", sans-serif;
    line-height: 20px;
}
.stories button{
    margin-top: 10px;
    width: 300px;
    height: 2vh;
    background-color: #141414;
    color: #ff0000;
    border: none;
    margin-right: 80px;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.stories button:hover {
    color: #da0101;
    cursor: pointer;
}
.case-image {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

/* Changelog*/

.changelog h3 {
    margin-left: 170px;
    font-size: 20px;
    margin-top: 150px;
    font-family: "Carrois Gothic", sans-serif;
    margin-bottom: none;
    color: rgb(216, 216, 216);
}
.changelog-container {
display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px;
    margin: 2rem auto;
    padding: 1rem;
    width: 100%;
    font-family: "Carrois Gothic", sans-serif;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex
}
.changelog-item {
    background-color: #0f0f0f;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100px;
    line-height: 1.5;
    width: 250px;
}
.lable {
    background-color: #111111;
    color: #979797;
    border-radius: 15px;
    border: 1px solid #555555;
    padding: 1px 8px;
    height: 20px;
    font-size: 13px;
    display: inline-block;
    width: 40px;
    margin-bottom: 15px;
    text-align: center;
    align-items: center;
    
}
.type-base {
    background-color: #111111;
    color: #979797;
    font-size: 13px;
    margin-left: 10px;
}

.changelog-item h4 {
    font-size: 12px;
    color: #d8d8d8;
    font-family: "Carrois Gothic", sans-serif;
    line-height: 20px;
}
.changelog-h4 {
    margin-top: 10px;
}
.see-new {
    
    width: 300px;
    height: 2vh;
    background-color: #030303;
    color: #ff0000;
    border: none;
    margin-right: 80px;
    display: flex;
    align-items: center;
    font-size: 12px;
    display: inline-block;
    justify-content: center;
    margin-left: 90px;
}
.see-new:hover {
    color: #da0101;
    cursor: pointer;
}

/* Team / About*/
.about {
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 50px;
    font-family: "Carrois Gothic", sans-serif;
    line-height: 1.2;
    color: #e9e9e9;
}
.join-us {
    margin-top: 20px;
    width: 80px;
    height: 5vh;
    border: none;
    margin-right: 80px;
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
}
.join-us:hover {
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}
.about-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

/* Recent highlights*/
.recent-highlights {
    background-color: #181818;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: "Carrois Gothic", sans-serif;
    color: #e9e9e9;
    height: 600px;
}
.recent-highlights-heading {
    display: flex;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    margin-top: 100px;
    margin-left: 150px;
    font-family: "Carrois Gothic", sans-serif;
    color: #d8d8d8;
}
.highlights-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    width: 40%;
    font-family: "Carrois Gothic", sans-serif;
    height: 300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}
.highlights-content {
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(58, 58, 58, 0.1);
    height: 110px;
    line-height: 1.5;
    width: 500px;
    background-color: #202020;
}
.highlights-content h6 {
    font-size: 13px;
    color: #d8d8d8;
    font-family: "Carrois Gothic", sans-serif;
    line-height: 25px;
}
.highlights-content .para {
    font-size: 12px;
    color: #a3a3a3;
    font-family: "Carrois Gothic", sans-serif;
    line-height: 16px;
}
.research {
    line-height: 1.6;
    font-size: 12px;
    margin-top: 18px;
    color: #a3a3a3;
}
.view-more {
    width: 300px;
    height: 2vh;
    background-color: #161616;
    color: #ff0000;
    border: none;
    align-items: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin-left: 308px;
    margin-top: 70px;
}
.view-more:hover {
    color: #da0101;
    cursor: pointer;
}
.highlights-content:hover {
    background-color: #292929;
    cursor: pointer;
}

/* Final CTA */
.final-cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.final-cta {
    font-size: 50px;
    font-family: "Carrois Gothic", sans-serif;
    text-align: center;
    line-height: 1.3;
    color: #e9e9e9;
    font-weight: normal;
}
.download-final {
    margin-top: 20px;
    width: 210px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 80px;
    border: 1px solid #141414;
}
.download-final:hover{
    background-color: rgb(214, 214, 214);
    cursor: pointer;
}


/* Footer */
.footer {
    background-color: #161616;
    color: #fff;
    padding: 40px 20px;
    font-size: .875rem;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1200px;
    gap: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
   
}
.footer-item h5 {
    font-size: 11px;
    font-family: "Carrois Gothic", sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
    color: #8a8a8a;
}
.footer-item ul {
    list-style: none;
    padding: 0;
    line-height: 1;
    font-family: "Carrois Gothic", sans-serif;
    font-size: 11px;
    color: #e0e0e0;
    
}
.footer-item ul li {
    cursor: pointer;
    margin-bottom: 12px;
    color: #e0e0e0;
}
.footer-item ul li a {
    text-decoration: none;
    color: #e0e0e0;
}
.copyright {
    font-size: 11px;
    color: #8a8a8a;
    font-family: "Carrois Gothic", sans-serif;
    margin-left: 300px;
    background-color: #161616;
    margin-top: 80px;
}
.privacy img {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    color: #d1d1d1;
    background-color: #bbbbbb;
    border-radius: 50px;
    margin-top: 5px;
}
